.brand{

}
body{
background-image:url('../images/DarkWood.jpg'); !important;

}
.linkFont{
160 52 109
 }
 

li{
color: rgb(62, 165, 26) !important;
text-shadow:none !important;
}
.hero-row{

background-image:url('../images/Stone.jpg'); !important;


}